.navbar {
    box-sizing: border-box;
    background: #242D38;
    height: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.logo-img {
    height: 20px;
    padding: 15px;
}

.logo-img:hover {
    opacity: 50%;
}


.class-link {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link {
    color: #A1A9B5;
    text-decoration: none;
}

.nav-link:hover {
    color: #FFFFFF;
}

ul li {
    display: inline-block;
    vertical-align: top;
     padding: 8px;
    margin: -3px 10px 0px -10px;
}

/*
a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #A1A9B5;
    text-decoration: none
}

a:hover {
    color: #FFFFFF;
}

.flex-container {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
  /* }

.nav-link-flex {
    flex-grow: 1;
}


.user-flex {
    display: inline-block;
    vertical-align: top;
     padding: 8px;
    margin: -3px 10px 0px -10px;

} */

/* .arrow:hover {
    fill: #FFFFFF;
} */